@media (min-width: 768px) {

    .info-box {
        position: absolute;
        top: 100px;
        left: 0;
        margin: 10px; /* Optional: Add some space from the edges */
        background-color: rgba(255, 255, 255, 0.8); /* Optional: Add a background for readability */
        padding: 10px;
        color: #333;
        border-radius: 4px;
        width: 350px;
    }

    #weather {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 10px; /* Optional: Add some space from the edges */
        background-color: rgba(255, 255, 255, 0.8); /* Optional: Add a background for readability */
        padding: 10px;
        color: #333;
        border-radius: 4px;
        width: 350px;
    }






}